{% extends "admin/base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Visit Types</title>
    <link rel="stylesheet" href="/static/admin_dashboard.css">
</head>
<body class="admin-body">
<div class="admin-shell">
    
    <main class="admin-main">
        <header class="admin-header">
            <h1>Visit Types</h1>
        </header>
        
        <section class="panel">
            <h2>Manage Visit Categories</h2>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>Visit Type</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <!--Zoo Tickets-->
                    <tr>
                        <td><strong>Zoo Tickets</strong></td>
                        <td>Day Tickets, child/adult tickets, availability Control</td>
                        <th>Active</th>
                        <td>
                            <a href="{{ url_for('admin_tickets') }}" class="btn">
                                Manage Tickets
                            </a>
                        </td>
                    </tr>
                    <!--Hotel Rooms-->
                    <tr>
                        <td><strong>Hotel Rooms</strong></td>
                        <td>Room types, capacity, availability control and pricing</td>
                        <th>Active</th>
                        <td>
                            <a href="{{ url_for('admin_hotel_rooms') }}" class="btn">
                                Manage Rooms
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
</div>

<script src="/static/admin_dashboard.js"></script>
</body>
</html>
{% endblock %}