body {
    background: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.logo {
    position: absolute;
    top: 18px;
    left: 18px;
    width: 10%;
    height: auto;
    border-radius: 20%;
    padding: 8px;
    background: black;


}
/*header */
.about-header {
    text-align: center;
    padding: 50px 10px ;
}
.about-header h1 {
    font-size: 42px;
    color: orange;
}

.about-header p {
    color: green;
    font-size: 16px;
}

/*sections */
.about-section {
    margin: 40px auto;
    width: 90%;
    max-width: 1200px;
}

/* cards */
.about-card {
    border: 2px solid orange;
    padding: 30px;
    border-radius: 15px;
    background: green;
    line-height: 1.7;
}

.section-title {
    color: orange;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}
/* offer cards */
.offer-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
}
.offer-card {
    background: green;
    border: 2px solid orange;
    border-radius: 15px;
    width: 300px;
    padding-bottom: 15px;
    overflow: hidden;
    text-align: center;
    transition: 0.3s;
}
.offer-card:hover {
    transform: translateY(-5px);
}

.offer-card img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

/* Team Grid */
.team-grid {
    display: flex;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    justify-content: center;
}

.team-card {
    width: 250px;
    background: green;
    border: 2px solid orange;
    border-radius: 8px;
    text-align: center;
    padding-bottom: 15px;
    transition: 0.3s;
}

.team-card:hover {
    transform: translateY(-5px);
}
.team-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}



/* footer */
.site-footer {
    width: 100%;
    background: green;
    color: orange;
    padding: 28px 0;
    margin-top: 580px;
    border-top: 5px solid orange;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.4px;
}

/* fade up animation */
.fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.7s ease-out;
}

.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}