/* section */
body {
    background: black;
}


.logo {
    position: absolute;
    top: 18px;
    left: 18px;
    width: 10%;
    height: auto;
    border-radius: 20%;
    padding: 8px;
    background: black;

}

.contact-section {
    padding: 100px 8%;
    color: green;
    background: #000;
    text-align: center;
}

/* title and description */
.contact-title {
    color: orange;
    font-size: 34px;
    margin-bottom: 20px;
}

.contact-description {
    max-width: 650px;
    margin: 0 auto 45px auto;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.4;
}
/* main contact boxes */
.contact-grid {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 70px;
    grid-template-columns: repeat(2, 1fr);
}

.contact-box {
    border: 2px solid orange;
    border-radius: 10px;
    width: 400px;
    text-align: left;
    background: #111;
    padding: 25px;
    transition: 0.3s ;
}
.contact-box:hover {
    transform: translateY(-5px);
}
.contact-box h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}
.contact-box a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.contact-box a:hover {
    color: darkorange;
    text-decoration: underline;
}

/* opening hours */
.hours-section {
    margin-top: 50px;
    margin-bottom: 50px;
}


.hours-title {
    font-size: 26px;
    color: orange;
    margin-bottom: 20px;
}

.hours-list {
    font-size: 20px;
    margin: 8px 0;
}

.hours-list p {
    font-size: 20px;
    margin: 8px 0;
}

.hours-list span {
    font-weight: 700;
    color: orange;
}
/* contact form */
.form-section {
    margin-top: 50px;
    text-align: left;
    max-width: 600px;
    margin: auto;
}

.form-title {
    color: orange;
    font-size: 26px;
    text-align: center;
    margin-bottom: 25px;
}

/* input */
form label {
    font-size: 18px;
    margin-top: 10px;
    display: block;
}

form input, form textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid orange;
    border-radius: 10px;
    background: #111;
    color: orange;
    font-size: 18px;
    margin-bottom: 15px;
}

form textarea {
    height: 120px;
}

/*  submit button */
.submit-btn {
    width: 100%;
    padding: 14px;
    background: green;
    color: orange;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.submit-btn:hover {
    background: darkgreen;
}

.success-message {
    margin-top: 15px;
    color: orange;
    font-size: 18px;
    text-align: center;
}

/* fade up animation */
.fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.7s ease-out;
}

.fade-up.visible {
    opacity: 1;
    transform: translateY(0);
}

.site-footer {
    width: 100%;
    background: green;
    color: orange;
    padding: 28px 0;
    margin-top: 580px;
    border-top: 5px solid orange;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.4px;
}
 