<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Riget Zoo Adventures</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/about_us.css">
</head>
<body>
    <img src="/static/images/logo.png" alt="Riget Zoo logo" class="logo">
    <header class="about-header">
        <h1>About Riget Zoo Adventures</h1>
        <p>Your gateway to wildlife, conservation and unfrogettable safari experiences.</p>
    </header>

    <!--our mission-->
    <section class="about-section fade-up">
        <div class="about-card">
            <h2>Our Mission</h2>
            <p>
                Riget Zoo Adventure was founded with one goal "to protect wildlife for a substainable fututre".
                We aim to portect the endangered species, support global conservation efforts, and create
                unfrogettable experiences for visitors of all ages.

            </p>
        </div>
    </section>

    <!--what we offer -->
    <section class="about-section fade-up">
        <h2 class="section-title">What we Offer</h2>

        <div class="offer-grid">
            <div class="offer-card">
                <img src="/static/images/aboutus.png" alt="Hotel stays">
                <h3>Hotel Stays</h3>
                <p>Experience luxury while staying close to wildlife.</p>
            </div>

            <div class="offer-card">
                <img src="/static/images/aboutus2.png" alt="Educational visits">
                <h3>Educational Visits</h3>
                <P>Schools and colleges can book guided safari learning sessions.</P>

            </div>

            <div class="offer-card">
                <img src="/static/images/aboutus3.png" alt="Safari Zoo">
                <h3>Safari-Style wildlife Zoo</h3>
                <p>Explore over 100 species in our safari themed zoo trails</p>
            </div>
        </div>
    </section>

    <!--bit of history-->
    <section class="about-section fade-up">
        <div class="about-card">
            <h2>Our History</h2>
            <p>
                Established in 2015, Riget Zoo Adentures grew from a small-communinty funded wildlife
                sanctuary into a world-class safari experience. Over the years, we have expanded
                our conservation programs, rescue operations, and educational outreach making us
                one of the most trusted wildlife centers nationwide.
            </p>
        </div>
    </section>
    <!--the team-->
    <section class="about-section fade-up">
        <h2 class="section-title">Meet our Team</h2>
        <div class="team-grid">

            <div class="team-card">
                <img src="/static/images/Jane_carter.jpg" alt="Lead Conservationist">
                <h3>Jane Carter</h3>
                <p>Lead Conservationist</p>
            </div>

            <div class="team-card">
                <img src="/static/images/vet.jpg" alt="vet team member">
                <h3>Dr. Erin Harding</h3>
                <P>Veterinary Specialist</P>
            </div>

            <div class="team-card">
                <img src="/static/images/safaritourguide.jpg" alt="safari tour guide">
                <h3>Samuel Vangance</h3>
                <p>Safari Tour Director</p>
            </div>
        </div>
    </section>
    <footer class="site-footer">
         © 2025 Riget Zoo Adventures - Protecting Wildlife for the Future.
    </footer>

    <script src="/static/about_us.js"></script>
</body>
</html>