<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Page- Riget Zoo Adentures</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/privacy_page.css">
    
</head>
<body>
    <section class="privacy-section fade-up">
        <img src="/static/images/logo.png" alt="Riget Zoo logo" class="logo">
        <h2 class="privacy-title">Privacy Terms</h2>
        <p class="updated-date">Last updated: 09/11/25</p>

        <div class="privacy-grid">

            <!--privacy box-->
            <div class="privacy-box">
                <h3>Acceptance of Terms</h3>
                <p>
                    By using this site and accepting our cookies, you agree that you may
                    provide personal information and that some information may be collected 
                    automatically through your use of our services.
                </p>
                <p>
                    This includes the general use of system services, logging in,
                    or accessing any user feature on the website.
                </p>
            </div>
            <!--Identity info -->

            <div class="privacy-box">
                <h3>Personal Identification Information</h3>
                <p>
                    The type of personal information we collect depends on
                    how you interact with our site and engage with our 
                    services.
                </p>
                <p><strong>Information we collect directly:</strong></p>
                <ul>
                    <li>Account Information - username, password</li>
                    <li>Booking Information</li>
                    <li>Contact Information - email, phone number</li>
                </ul>
                <p><strong>Information collected automatically</strong></p>
                <ul>
                    <li>Device and browser details</li>
                    <li>Page activity and interactions</li>
                    <li>Cookie information for analytics and improvements</li>
                </ul>
            </div>
            <!--users rights-->
            <div class="privacy-box">
                <h3>Your Rights and Choices</h3>
                <p>
                    You have the right to access the personal information we store about you.
                </p>
                <p>
                    You have the right to request deletion of any information we hold about you.
                </p>
                <p>
                    You have the right to request correction of inaccurate information.
                </p>
                <p>
                    You may withdraw your consent for us to process your information at any time.
                </p>
                <p>
                    You can decline certain types of optional data collection, such as non-essential cookies.
                </p>
            </div>
        </div>
    </section>

    <footer class="site-footer fade-up">
        Protect wildlife for a substainable fututre.
        <div class="site-footer-info ">© 2025 Riget Zoo Adventures. All rights reserved </div>
    

    </footer>
    <script src="/static/about_us.js"></script>
</body>
</html>